@font-face {
  font-family: 'Creepster';
  src: url("@/assets/fonts/Creepster-Regular.ttf") format('truetype');

  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DidactGothic';
  src: url("@/assets/fonts/DidactGothic-Regular.ttf") format('truetype');

  font-display: swap;
  font-style: normal;
}