.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include smaller-than($mantine-breakpoint-md) {
    flex-direction: column;
  }

  a {
    color: var(--mantine-color-teal-6);

  }
}

.input {
  @include smaller-than($mantine-breakpoint-xs) {
    width: 84%;
  }
}

.navbar {
  flex-direction: column;
}
